@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --font: "Poppins", sans-serif;
  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-primary: #273566;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--color-white);
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 100vh;
  max-width: 1084px;
  margin: 0 auto;
  padding: 50px 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}
